.env
src/Scripts/Dump
src/Database/out
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
dist/
build/
*.egg-info/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml

# Pytest
.pytest_cache/

# Django stuff:
*.log
local_settings.py

# Sphinx documentation
docs/_build/
doc/_build/

# PyCharm files
.idea/
*.iml
*.ipr
*.iws
*.bak
*.swp
